electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# pnpm配置

# 启用严格模式，避免幽灵依赖
shamefully-hoist=false
strict-peer-dependencies=true

# 开启pnp模式
node-linker=hoisted

# 设置npm镜像源（如果需要）
registry=https://registry.npmmirror.com/

# 设置允许使用的包管理器
engine-strict=true

# 缓存目录设置
cache=.pnpm-store

# 依赖提升设置
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
